* { margin:0; padding:0;}
html {}
body {  font-size: 12px;font-family: Arial, Georgia, Tahoma, Verdana, sans-serif; background:#000;
}
img{
	border: none;
}
.fll{
	float: left;
}
.flr{
	float: right;
}
.clear{
	clear: both;
}

.main {width:436px; margin:0 auto; margin-top:100px;}
.menu li {list-style:none; float:left;}
.menu li .m1 {display:inline-block; width:140px; height:39px; background:url('../images/menu.png') no-repeat top left;}
.menu li .m2 {display:inline-block; width:150px; height:39px; background:url('../images/menu.png') no-repeat -140px 0px;}
.menu li .m3 {display:inline-block; width:144px; height:39px; background:url('../images/menu.png') no-repeat -290px 0px;}
.menu li .m1:active {background-position:0px -39px;}
.menu li .m2:active {background-position:-140px -39px;}
.menu li .m3:active {background-position:-290px -39px;}
.menu li .m1:hover {background-position:0px -78px;}
.menu li .m2:hover {background-position:-140px -78px;}
.menu li .m3:hover {background-position:-290px -78px;}

.content {width:431px; margin:0 auto;margin-top:6px; }
.content .cont-head {width:431px; height:38px; background:url('../images/head.png') no-repeat; text-align:center; font-size:24px; color:#940902; padding-top:12px;}
.content .cont-body {padding:20px 0px 0 21px; width:409px; background:url('../images/bg_cont.png') repeat-y;}
.content .cont-foot {width:431px; height:18px; background:url('../images/foot.png') no-repeat;}
.content .star {width:383px; height:20px; background:url('../images/star.png') no-repeat top left; font-size:12px; color:#000; text-align:center; font-weight:bold; padding-top:6px; margin-bottom:20px;}
.prefooter .yel{color:#f1be00; font-size:15px;}
.prefooter .wh{color:#fff; margin-right:37px;}
.prefooter {margin-bottom:13px;}
.soc {margin-top:18px;}
.footer {width:870px; margin:0 auto; margin-top:10px; margin-bottom:15px;}
.footer a {display:inline-block; float:left;}
.footer .mini{width:90px; height:51px; background:url('../images/mini.png') no-repeat;}
.footer .mosc{width:95px; height:38px; background:url('../images/mosc.png') no-repeat; margin:6px 0 0 22px;}
.footer .krem{width:72px; height:58px; background:url('../images/krem.png') no-repeat; margin-left:16px;}
.footer .icon{width:119px; height:22px; background:url('../images/icon.png') no-repeat; margin:16px 0 0 18px;}
.footer .bank{width:99px; height:25px; background:url('../images/bank.png') no-repeat; margin:15px 0 0 25px;}

.footer .kont {float:right; color:#fff;}
.footer .kont a {clear:both; float:none; color:#fff;}

.g-item {padding:17px 0 0px 0;}
.g-item .bord-img {width:76px; height:76px; background:url('../images/pop.png') no-repeat; position:absolute;}
.g-item  .g-item-img img {margin:5px 0 0 5px;}
.g-item .point {background:url('../images/st.png') no-repeat top left; width:377px; height:20px; font-size:12px; color:#000; font-weight:bold; padding-top:6px; margin-bottom:10px;}
.g-item .point.up{background-position:0px 0px;}
.g-item .point.up{background-position:0px -26px;}
.g-item .g-item-img {float:left; width:76px; margin:0 10px 0 0;}
.g-item .g-item-text {float:left; width:291px;}
.g-item .g-item-text a {color:#000;}
.player {width:258px; height:20px; background:url('../images/player.png') no-repeat; font-size:12px; color:#9f9e9f; font-style:italic; padding:5px 0 0 33px; margin-top:6px;}

.content .save {width:141px; height:40px; background:url('../images/save.png') no-repeat top left; cursor:pointer; margin:0 auto; margin-top:24px;}
.content .save:hover {background-position:0px -80px;}
.content .save:active {background-position:0px -40px;}
.content .anketa {font-size:34px; color:#fff; padding-top:6px; height:44px;}
.content .ank-top {color:#666766;}
.content .ank-top span.t {font-size:16px;}
.content .ank-top span.m {font-size:10px;}
.content .ank-top span.b {font-size:11px;}
.content  .txt {color:#000; font-weight:bold; width:382px; height:21px; background:url('../images/txt.png') top left no-repeat; padding-top:6px; margin-bottom:13px;}
.tab input {border:1px solid #e3e3e3; background:#fff; width:238px; height:23px; padding:0px 7px;}
.tab select {border:1px solid #e3e3e3; background:#fff; width:125px; height:23px; padding:0px 0 0 7px;}
.tab textarea {border:1px solid #e3e3e3; background:#fff; width:238px; height:23px; padding:0px 7px 0 7px; resize:none; height:75px;}
.tab input.min {width:32px;}
.tab input.file {border:1px solid #e3e3e3; padding:0px;}
.tab tr td {padding-bottom:7px; }
.tab tr td.cv {vertical-align:top;}
.send-b {width:141px; height:39px; background:url('../images/send_b.png') no-repeat; border:none;}
.send-f {border-top:1px solid #fbca32; padding:18px 0 0 0;}

.scroll-pane {overflow:auto; height:350px;}

/*=========================================*/
.joor-item {padding:0 0 19px 0;}
.joor-item .joor-item-img {float:left; border:5px solid #dadada; margin-right:16px;}
.joor-item .joor-item-text {float:left;}
.joor-item .joor-item-name {background:url('../images/bg_joor.png') no-repeat top left; padding:5px 0 0 23px; width:262px; height:21px; font-weight:bold;}
.joor-item .joor-item-desc {margin:18px 0 0 24px;}

.kast-top {background:url('../images/bg_kast.png') no-repeat top left; width:381px; height:21px; padding-top:5px; text-align:center; font-weight:bold; margin-bottom:0px;}
.ch {width:381px; height:21px; background:url('../images/bg_ch.png') no-repeat top left; padding:5px 0 0 22px; margin:14px 0;}
.ch-bt {position:absolute; margin:2px 0 0 -13px;}
.btn-ank {width:141px; height:40px; display:inline-block; background:url('../images/btn_ank.png') no-repeat top left; cursor:pointer; border:none;}
.btn-ank:active {background-position:0px -40px;}
.btn-ank:hover {background-position:0px -80px;}
/*=========================================*/